@model CarRental.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Users List";
}

<div class="d-flex flex-column min-vh-65">
    <div class="flex-grow-1">
        <div class="card shadow-sm mt-5 mb-5">
            <div class="card-header bg-primary text-white text-center py-3">
                <h2>Users List</h2>
            </div>
            <div class="card-body p-4">
                <div class="row mb-3">
                    <div class="col-12 ">
                        <h4 class="text-dark">All Available Users</h4>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover align-middle">
                        <thead class="table-primary">
                            <tr class="text-center">
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Address</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model.AvailableUsers.OrderBy(o => o.first_name))
                            {
                                <tr>
                                    <td class="text-center">@obj.first_name</td>
                                    <td class="text-center">@obj.last_name</td>
                                    <td class="text-center">@obj.gender</td>
                                    <td class="text-center">@obj.address</td>
                                    <td class="text-center">@obj.phone_no</td>
                                    <td class="text-center">@obj.email</td>
                                    <td class="text-center">
                                        <div class="btn-group" role="group">
                                            <a asp-controller="user" asp-action="delete" asp-route-id="@obj.Id" class="btn btn-danger mx-1">
                                                <i class="fa-solid fa-trash"></i> Delete
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    html, body {
        height: 100%;
        margin: 0;
    }

    .d-flex.flex-column.min-vh-65 {
        min-height: 65vh;
    }

    footer {
        background-color: #f8f9fa;
        padding: 10px 0;
        width: 100%;
    }

    .flex-grow-1 {
        flex-grow: 1;
    }

</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
