<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="https://kit.fontawesome.com/a4046039e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarRental.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-car"></i> Car Rental
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                    
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown ms-auto">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Admin Panel
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Vehicle" asp-action="Index">Manage Vehicles</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">Manage Users</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Index">Manage Admins</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="EditProfileAdmin">Edit Profile</a>
                                </li>
                            }
                            else if (User.IsInRole("User"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Rental" asp-action="Index">
                                        My Rentals
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="EditProfile">Edit Profile</a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="nav-item">
                                    <button type="submit" class="btn btn-link nav-link">Logout</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-primary text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>About Car Rental</h5>
                    <p>We provide the best car rental experience, offering a wide range of vehicles to meet your needs. Our mission is to ensure you have a smooth and comfortable ride.</p>
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index", "Home")" class="text-white">Home</a></li>
                        <li><a href="@Url.Action("About", "Home")" class="text-white">About Us</a></li>
                        <li><a href="@Url.Action("Contact", "Home")" class="text-white">Contact Us</a></li>
                        <li><a href="@Url.Action("Privacy", "Home")" class="text-white">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <p>
                        <i class="fa fa-envelope"></i> <a href="mailto:info@carrental.com" class="text-white">info@carrental.com</a><br />
                        <i class="fa fa-phone"></i><a class="link-light" href="tel:+1234567890">+123 456 7890</a><br />
                        <i class="fa fa-map-marker"></i> 123 Car Rental St., Amman, Jordan
                    </p>
                </div>
            </div>
            <div class="text-center mt-3">
                <p>&copy; @DateTime.Now.Year Car Rental. All Rights Reserved.</p>
            </div>
        </div>
    </footer>

    @section Scripts {
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
